<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content ="with-device-width, initial-scale-1.0">
     <title>Home page</title>

</head>
<body>
  <h1 style="text-align: center;">Welcone to Home page</h1>

</body>